*.dat
*.o
kmonty
dump*
raptor-test
*.png
gmon.out
fit.log
*.txt
*.gnu
*save
*old*
convergence*
simple_analytical
analytical
spectra
thermal
plot_simplesphere.py
dev-slowlight/spectra*
dev/*spec
dev-slowlight/*/*spec
*/*out
*/*blk
*/*/*out
raptor-cart/output*
